scenario_name: "pony_data"

local_data {
  lidar_dir: "/home/hongfz/Documents/Learn/AutomonousDrivingHW/perception_project/test/select/VelodyneDevice32c"
  label_dir: "/home/hongfz/Documents/Learn/AutomonousDrivingHW/perception_project/test/label/VelodyneDevice32c"
  #camera_dir: "/${DATA_DIR}/select/GigECameraDeviceWideAngle"
}